#emkort_sort,
#make_list {
	width: 150px;
}

.emkort-container {
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	background-color: #dee;
}

.emkort-xbutton {
	margin-right: 10px;
	user-select: none;
}

.emkort-span {
	cursor: pointer;
}

.emkort-span:hover {
	background-color: #eee;
}